<div>

    <form (ngSubmit)="addNewPackage()" name="AddForm">

        <label>Company:</label>
        <select [(ngModel)]="newPackage.companyId" name="CompanyId">
            <option selected value="">Select Company</option>
            <option *ngFor="let c of companies" value={{c._id}}>{{c.name}}</option>
        </select>

        <label>Sender:</label>
        <input type="text" [(ngModel)]="newPackage.sender" name="Sender"/>

        <label>Address:</label>
        <input type="text" [(ngModel)]="newPackage.address" name="Address"/>

        <label>Date:</label>
        <input type="date" [(ngModel)]="newPackage.date" name="Date"/>

        <label>Weight: (kg)</label>
        <input type="number" [(ngModel)]="newPackage.weight" name="Weight"/>

        <label>Price: ($)</label>
        <input type="number" [(ngModel)]="newPackage.price" name="Price"/>

        <button>ADD</button>
    </form>
</div>